header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.logo {
    height: 2.5em;
    width: 4em;
    margin: 5px;
}
